# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env files
.env
.env.local
.env.*.local

# Build outputs
.next/
dist/
build/
out/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Supabase
.supabase/

# Temp
tmp/
temp/

# Coverage
coverage/

# Typescript
*.tsbuildinfo

*.pptx
*.log